---
import Layout from "../layouts/Layout.astro";
import { Picture } from "astro:assets";
import bgImg from "../assets/images/intro-bg.jpg";
import { Intro } from "../components/intro";
---

<Layout>
  <main
    class="flex min-h-screen flex-col items-center justify-center font-inter"
  >
    <section class="flex flex-col items-center justify-center">
      <div class="fixed inset-0 z-0 h-full w-full overflow-hidden">
        <Picture
          src={bgImg}
          quality={80}
          widths={[400, 800, 1200]}
          sizes="(max-width: 1200px) 100vw, 1200px"
          formats={["webp", "avif"]}
          alt="Background Image"
          class="h-full w-full object-cover object-center"
        />
        <div class="absolute inset-0 h-full w-full bg-[#111] opacity-80"></div>
      </div>
      <div class="relative z-10">
        <Intro />
      </div>
    </section>
  </main>
</Layout>
